<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml: Este archivo describe las características y configuraciones de la aplicación Android.
    Define permisos, actividades, servicios, y otras configuraciones esenciales para el sistema Android.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet, necesario para realizar solicitudes a través de la red. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Configuración de la aplicación. -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoragriegaRuanoMApi2Ev"
        tools:targetApi="31">

        <!-- Actividad de inicio de sesión. -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de navegación. -->
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />

        <!-- Configuración de fuentes pre-cargadas. -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
